@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-base-50: var(--color-stone-50);
	--color-base-100: var(--color-stone-100);
	--color-base-200: var(--color-stone-200);
	--color-base-300: var(--color-stone-300);
	--color-base-400: var(--color-stone-400);
	--color-base-500: var(--color-stone-500);
	--color-base-600: var(--color-stone-600);
	--color-base-700: var(--color-stone-700);
	--color-base-800: var(--color-stone-800);
	--color-base-900: var(--color-stone-900);
	--color-base-950: var(--color-stone-950);

	--color-accent-50: #e0fff6;
	--color-accent-100: #b3ffec;
	--color-accent-200: #80ffe1;
	--color-accent-300: #4dffd7;
	--color-accent-400: #26ffce;
	--color-accent-500: #01ffba; /* colore principale */
	--color-accent-600: #01e0a6;
	--color-accent-700: #01b88a;
	--color-accent-800: #01996f;
	--color-accent-900: #017f5c;
	--color-accent-950: #005f44;
}
